/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Noto Sans', sans-serif; */

.page-content {
  text-align: center;
}


h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  font-weight: black;
  padding: 20px;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding: 8px 0 8px 0;
}


p, li {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: 4px 0 4px 0;

}

.contact-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  width: 400px;
  height: 200px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.2) ;
  padding: 40px;
  border-radius: 6px;
  background-color: #ffffff;
}

.contact-card:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 6px 6px 0px rgba(0, 0, 0, 0.2) ;
}

.profile-photo-container {
  position: relative;
  width: 50%;
}

#profile-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -50%);
}

.contact-info {
  text-align: left;
  width: 50%;
}

.social-icons {
  padding: 20px 0 20px 0;
}

#social-icon {
padding-right: 20px;
}
